
body {
    margin: 0;
    padding: 0;

}

main {
    padding: 16px;
    margin-bottom: 1
}
#title{
    color: rgb(0, 105, 0);
}
.recipe-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;

}
#recipe1{
    grid-column-start: 1;
}
#recipe2{
    grid-column-start: 2;
}
#recipe3{
    grid-column-start: 3;
}
#recipe4{
    grid-column-start: 4;
}
#recipe5{
    grid-column-start: 1;
}
.vtaco-title {
    color: rgb(0, 144, 0)

}



a:link{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: black;
}
a:visited{
    color: rgb(0, 144, 0);
}

nav {
    border-bottom: 3px solid black;
    padding: 16px;
    background-color: rgb(255, 81, 0);
}
#main-page-link{
    color: white;
}

.table-color tr:nth-child(2n){
    background-color: rgb(208, 208, 208);
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    padding: 15px 15px 0px;
    background-color: rgb(109, 175, 38);
}
